<div class="flex-contain">

<% @data.each do |dessert| %>
  <div class="flex-child">
  <h3>Description: <%= dessert.description %></h3>
  <h3>Price: <%= dessert.price %></h3>
  <img src="/<%= dessert.image_url%>">
  </div>

<% end %>

</div>
<br>
<br>
