<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bakery</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <!-- <div id='layout'>
      <h1>Is this working</h1>
    </div> -->
    <nav class="navbar-default" role="navigation">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Logo</a>
        <div class="navbar-header navbar-right">
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#"></a>Link 1
                <li><a href="#"></a>Link 1
                <li><a href="#"></a>Link 1
                <li><a href="#"></a>Link 1

              </ul>

            </li>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>
    <script type="main.js">

    </script>
  </body>
</html>
