<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bakery</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>

    <nav class="navbar-default" role="navigation">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Products on the Right</a>
        <div class="navbar-header navbar-right">
          <ul class="nav navbar-nav">
            <li><a href="http://localhost:4567">Home</a></li>
            <li><a href="http://localhost:4567/dessert/cookie">Cookies</a></li>
            <li><a href="http://localhost:4567/dessert/cake">Cakes</a></li>
            <li><a href="http://localhost:4567/dessert/muffin">Muffins</a></li>

          </ul>
        </div>
      </div>
    </nav>

    <section class="main-container">
      <article class = "index-intro">
        <div class="container">
          <div class="jumbotron">
                <h1>Kevin Heaven Bakery</h1>
                <p>Step inside and get a taste of heaven on earth</p>
              </div>
            </div>
      </article>
    </section>







    <%= yield %>
    <script type="main.js">

    </script>
  </body>
</html>
